@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');

$logo_URL: url('/../images/dose-media-bU6JyhSI6zo-unsplash.jpg');

body {
    height: 100%;
    background-image: $logo_URL;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #wrapper {
        height: 100vh;
        margin: auto 10%;
        display: grid;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main aside"
            "footer footer footer";
        grid-template-rows: 60px 50px 1fr auto;
        grid-template-columns: 1fr 1fr 25%;
        gap: 10px;

        header {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            grid-area: header;

            #logo {
                margin: 0;
                padding: 0;

                img {
                    width: 100px;
                }
            }

            h1 {
                font-size: 40px;
                text-align: center;
                font-family: 'Ma Shan Zheng', cursive, sans-serif;
                background: -webkit-linear-gradient(white, red);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        nav {
            grid-area: nav;
            

            #menu {
                display: flex;
                justify-content: space-evenly;
                background: rgba(139, 0, 0, 0.308);
                border-radius: 15px;
                padding-inline-start: 0;

                li {
                    list-style-type: none;
                    margin: 5px;
                    padding: 5px;

                    a {
                        color: rgb(189, 3, 3);
                        text-decoration: none;
                        font-size: 20px;
                        text-shadow: 1px 1px 1px white;
                    }

                    a:hover {
                        color: red;
                        text-shadow: 2px 2px 1px white;
                    }
                }
            }
        }

        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-area: main;
        }

        aside {
            grid-area: aside;
        }

        footer {
            grid-area: footer;
            background:  rgba(139, 0, 0, 0.308);
            border-radius: 15px;
            margin-bottom: 10px;
            p {
                margin: 0;
                padding: 10px;
                color: rgb(189, 3, 3);
            }
        }
    }
}