@import "normalize";

body {
    height: 100vh;
    background-image: url('/../images/dose-media-bU6JyhSI6zo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-template-rows: 60px 50px 1fr 40px;
    grid-template-columns: 1fr 1fr 25%;

    // header,
    // nav,
    // main,
    // section,
    // aside,
    // footer,
    // #logo,
    // h1{
    //     border: 1px solid black;
    // }

    header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        #logo {
            margin: 0;
            padding: 0;
            img{
                width: 100px;
            }
        }

        
    }

    h1 {
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }

    footer {
        grid-area: footer;
    }

}